
<h2>Shopping list</h2>
<% if (items.length) { %>
    <% items.forEach(item => { %>
    <a href="/items/<%= item._id %>">
        <div class="item-card">
            <div class="left">
                <img src="<%= item.img %>" alt="<%= item.name %> ">
            </div>
            <div class="right">

                    <h3><%= item.name %></h3>

        
                <p>Price: $<b><%= item.price %></b></p>
        
            </div>
        </div>
    </a>
    <% }) %>
<% } else { %>
    <h3>Out of stock</h3>
<% } %>